<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>본인인증 통합형 테스트</title>
</head>
<body>
<form name="form_chk" method="post">
  <input type="text" name="m" value="checkplusService">
  <input type="text" name="EncodeData" value="">
</form>

<button type="button" id="btn_submit">CheckPlus 안심본인인증 Click</button>
</body>
<script>
  document.getElementById('btn_submit').addEventListener('click', function () {
    window.open('', 'popupChk', 'width=500, height=550, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no');
    document.form_chk.action = "https://nice.checkplus.co.kr/CheckPlusSafeModel/checkplus.cb";
    document.form_chk.target = "popupChk";
    document.form_chk.submit();
  })
</script>
</html>